body {
  background-color: #eb3bd3; /* anthracite grey */
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  color: #f4f4f4; /* light text so it stands out on dark bg */
}

h1 {
  font-family: 'Love Ya Like A Sister', sans-serif;
  font-size: 120px;
  font-weight: bold;
  color: #6b5c69; /* Instagram-style pop */
  text-transform: lowercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
  text-shadow: mediumslateblue 2px 10px ; /* subtle shadow for depth */
}

p {
  font-size: 18px;
  line-height: 1.6;
}
