body {
  background-color: darkslategrey; /* anthracite grey */
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  color: #f4f4f4; /* light text so it stands out on dark bg */
}

h1 {
  font-family: 'Geo', sans-serif;
  font-size: 190px;
  font-weight: bold;
  color: white; /* Instagram-style pop */
  text-transform: lowercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px khaki,
    2px 2px 2px limegreen,
    3px 3px 7px orangered;
}

p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 800;
}
